# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node (optional)
node_modules/
dist/
dist-ssr/

# Python / Django
__pycache__/
*.pyc
*.sqlite3
db.sqlite3

# Virtual environments
venv/
.env
.env.*

# Django static/media
media/
staticfiles/

# Editor / OS
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?